.currency
{
	float: left;
	margin-right: 25px;
	width: calc( 30% - 65px );
}

section.Rate
{
	margin: 0;
}

section.Rate > select
{
	max-width: 70%;
}

section.Rate > input[type="number"]
{
	max-width: 28%;
}

.Rate
{
	float: left;
	margin-right: 25px;
	width: 70%;
}

.plusCurrency
{
	clear: none;
	float: right;
}

#allCurrencies > :last-child p
{
	display: block !important;
}

#allCurrencies p, #allDeliveryShop p
{
	display: none;
}

#allDeliveryShop
{
	overflow: hidden;
}

.inputDelivery
{
	width: calc( 100% / 3 - 41px );
	float: left;
	padding: 0 15px;
}

section.deliveryShop
{
	overflow: hidden;
	float: left;
}

input.deliveryInput
{
	width: 100%;
}

button.plusDelivery
{
	float: right;
}

#allDeliveryShop > :last-child p
{
	display: block !important;
}

form.adminForm {
	width: 70%;
	float: left;
}